{% extends 'base.html' %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'main/css/style-catalog.css' %}" />
  <link rel="stylesheet" href="{% static 'main/css/style-exercise_add.css' %}" />
{% endblock %}

{% block title %}
  Вход в аккаунт Spolthy
{% endblock %}

{% block content %}
  {% if next %}
    {% if user.is_authenticated %}
      <p>Вы не можете посетить данную страницу: нет доступа</p>
    {% endif %}
  {% endif %}
  {% for message in messages %}
  <p class="centered tag">{{message}}</p>
  {% endfor %}
  <h2 class="centered">Войдите в аккаунт</h2>
  <div class="content">
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      {% if form.errors %}
        <div style="color: red;">Логин или пароль неверные. Попробуйте еще раз</div>
      {% endif %}
      <div class="login-form-input">
        <div>{{ form.username.label_tag }}</div>
        <div>{{ form.username }}</div>
      </div>
      <div class="login-form-input">
        <div>{{ form.password.label_tag }}</div>
        <div>{{ form.password }}</div>
      </div>

      <button class="button" type="submit">Войти</button>
      <input type="hidden" name="next" value="{{ next }}" />
    </form>
  </div>
{% endblock %}
