{% extends 'base.html' %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'main/css/style-catalog.css' %}" />
  <link rel="stylesheet" href="{% static 'main/css/style-exercise_add.css' %}" />
  <link rel="stylesheet" href="{% static 'main/css/style-register.css' %}" />
{% endblock %}

{% block title %}
  Добавление упражнения в каталог Spolthy
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<h2 class="centered">Добавление упражнения</h2>
<div class="content">
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_div }}
    <button class="button" type="submit">Добавить</button>
</form>
</div>
{% else %}
<p>Только зарегистрированные пользователи могут добавлять упражнения</p>
<a class='button' href="{% url 'login' %}?next={{request.path}}">Вход</a>
{% endif %}
{% endblock  %}
