{% extends 'base.html' %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'main/css/style-catalog.css' %}" />
  <link rel="stylesheet" href="{% static 'main/css/style-exercise_add.css' %}" />
{% endblock %}

{% block title %}
  Добавление упражнения в каталог Spolthy
{% endblock %}

{% block content %}
<h2 class="centered">Добавление упражнения</h2>
<div class="content">
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_div }}
    <button class="button" type="submit">Добавить</button>
</form>
</div>
{% endblock  %}
