{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'main/css/style-main.css' %}" />
    {% block styles %}

    {% endblock %}
    <title>
      {% block title %}

      {% endblock %}
    </title>
  </head>
  <body>
    <header>
      <div class="left-elements">
        <div>
          <a href="{% url 'main_page' %}"><img class="logo" src="{% static 'main/img/logo.png' %}" alt="main" /></a>
        </div>
        <div>
          <a href="{% url 'catalog' %}">Упражнения</a>
        </div>
      </div>
      <div class="right-elements">
        <div>
          <a href="#">Регистрация</a>
        </div>
        <div>
          <a href="#">Вход</a>
        </div>
      </div>
    </header>
    <div class="main">
      {% block content %}

      {% endblock %}
    </div>
    <footer>
      <div>KortezR 2023</div>
    </footer>
  </body>
</html>
