{% extends 'base.html' %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'main/css/style-catalog.css' %}" />
{% endblock %}

{% block title %}
  Каталог Spolthy
{% endblock %}

{% block content %}
  {% for message in messages %}
    <p class="centered tag">{{ message }}</p>
  {% endfor %}
  <h1 class="centered title">Каталог упражнений Spolthy</h1>
  <form class="search" action="{% url 'catalog' %}" method="get">
    <div class="search-field">
      <input type="text" name="search" placeholder="Поиск по названию упражнения" />
      <button type="submit">Поиск</button>
    </div>
    <div class="search-tags">
      {% for category in categories %}
        <div class="tag">
          <input type="radio" name="category" id="{{ category.0 }}" value="{{ category.0 }}" />
          <label for="{{ category.0 }}">{{ category.1 }}</label>
        </div>
      {% endfor %}
    </div>
  </form>
  <div class='refresh'>
    <a href="{% url 'catalog' %}">Очистить поиск</a>
  </div>
  {% for exercise in exercises %}
    <div class="content item">
      <div class="media">
        <img src="{{ exercise.media.url }}" />
      </div>
      <div class="exercise">
        <a href="{% url 'exercise' exercise.id %}"><h2>{{ exercise.name|capfirst }}</h2></a>
        <div class="category">
          <div>{{ exercise.get_category_display }}</div>
        </div>
        {% if user.is_authenticated %}
        {% if exercise.id in exercise_ids %}
        <a class="button tag" href="#">Уже на аккаунте</a>
        {% else %}
        <form method="post">
          {% csrf_token %}
          <input type="hidden" name='exercise_id' value={{exercise.id}}>
          <button class="button" type="submit">Добавить на аккаунт</button>
        </form>
        {% endif %}
        {% endif %}
      </div>
    </div>
  {% endfor %}
  {% if not exercises %}
    <p>По Вашему запросу упражнения не найдены</p>
  {% endif %}
  <div class="footer">
    {% if user.is_authenticated %}
    <p>Не нашли упражнение? Добавьте новое упражнение</p>
    <a class="button" href="{% url 'add_exercise' %}">Добавить упражнение</a>
    {% else %}
    <p>Войдите в аккаунт для менеджмента и добавления упражнений</p>
    <div class="choices"><div>
      <a class="button" href="{% url 'register' %}">Зарегистрироваться</a>
    </div>
    <div>
      <a class="button" href="{% url 'login' %}">Войти</a>
    </div>
    {% endif %}
  </div>
  </div>
{% endblock %}
