{% extends 'base.html' %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'main/css/style-catalog.css' %}" />
{% endblock %}

{% block title %}
  Каталог Spolthy
{% endblock %}

{% block content %}
  <h1 class="centered title">Каталог упражнений Spolthy</h1>
  <form class="search" action="{% url 'catalog' %}" method="get">
    <div class="search-field">
      <input type="text" name="search" placeholder="Поиск по названию упражнения" />
      <button type="submit">Поиск</button>
    </div>
    <div class="search-tags">
      {% for category in categories %}
      <div class="tag">
        <input type="radio" name="category" id="{{category.0}}" value="{{category.0}}" />
        <label for="{{category.0}}">{{category.1}}</label>
      </div>
      {% endfor %}
    </div>
  </form>
  {% for exercise in exercises %}
    <div class="content item">
      <div class="media">
        <img src="{{ exercise.media.url }}" />
      </div>
      <div class="exercise">
        <a href="{% url 'exercise' exercise.id %}"><h2>{{ exercise.name | capfirst }}</h2></a>
        <div class="category">
          <div>{{ exercise.get_category_display }}</div>
        </div>
        <a class="button" href="http://www.google.com">Добавить на аккаунт</a>
      </div>
    </div>
  {% endfor %}
{% endblock %}
