{% extends 'base.html' %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'main/css/style-catalog.css' %}" />
  <link rel="stylesheet" href="{% static 'main/css/style-exercise.css' %}" />
  <link rel="stylesheet" href="{% static 'main/css/style-exercise_add.css' %}" />
  <link rel="stylesheet" href="{% static 'main/css/style-edit_ue.css' %}" />
{% endblock %}

{% block title %}
  Изменение показателей - Spolthy
{% endblock %}

{% block content %}
  <h2 class="centered">Изменение показателей упражнения</h2>
  <div class="content item">
    <div class="exercise">
      <a href="{% url 'exercise' user_exercise.exercise.id %}"><h2>{{ user_exercise.exercise.name|capfirst }}</h2></a>
      <div>Текущие значения:</div>
      {% if user_exercise.weight or user_exercise.distance or user_exercise.amount or user_exercise.time %}
        {% if user_exercise.weight %}
          <div>Вес: {{ user_exercise.weight }}кг</div>
        {% endif %}
        {% if user_exercise.distance %}
          <div>Дистанция: {{ user_exercise.distance }}км</div>
        {% endif %}
        {% if user_exercise.amount %}
          <div>Повторения: {{ user_exercise.amount }} раз(а)</div>
        {% endif %}
        {% if user_exercise.time %}
          <div>Время: {{ user_exercise.time }}</div>
        {% endif %}
      {% else %}
        <div>Нет установленных значений</div>
      {% endif %}
      <div>----------------------------------------</div>
      <div>Новые значения:</div>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
          <div>{{ field.label }}</div>
          {% if field.help_text %}
            <div>{{ field.help_text }}</div>
          {% endif %}
          <div>{{ field }}</div>
          {% if field.errors %}
            <div style="color: red;">{{ field.errors }}</div>
          {% endif %}
        {% endfor %}
        <button class="button" type="submit">Сохранить</button>
      </form>
    </div>
  </div>
{% endblock %}
