{% extends 'base.html' %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'main/css/style-main.css' %}" />
  <link rel="stylesheet" href="{% static 'main/css/style-catalog.css' %}" />
  <link rel="stylesheet" href="{% static 'main/css/style-exercise.css' %}" />
{% endblock %}

{% block title %}
  {{ exercise.name }} - Spolthy
{% endblock %}

{% block content %}
  <div class="content item">
    <div class="media">
      <img src="{{ exercise.media.url }}" />
    </div>
    <div class="exercise">
      {% if exercise %}
        <h3>{{ exercise.name }}</h3>
        <div class="category">
          <div>{{ exercise.category }}</div>
        </div>
        <div class="description">
          {{ exercise.description }}
        </div>
        <a class="button" href="http://www.google.com">Добавить на аккаунт</a>
      {% endif %}
    </div>
  </div>
{% endblock %}
