{% extends 'base.html' %}
{% load static %}

{% block title %}
  Spolthy
{% endblock %}

{% block content %}
  <h1 class="centered title">Spolthy</h1>
  <h2 class="centered">Площадка для мониторинга и контроля спортивного образа жизни</h2>
  <div class="content">
    <img class="leftside" src="{% static 'main/img/photo1.jpg' %}" alt="спортсмен с телефоном / ноутбуком" />
    <div class="text">
      <h3 class="centered">Отслеживайте свои результаты</h3>
      <p>Ведите учет прогресса своих тренировок, чтобы всегда стремиться к улучшению</p>
      <a class="button" href="{% url 'register' %}">Зарегистрироваться</a>
    </div>
  </div>
  <div class="content">
    <img class="leftside" src="{% static 'main/img/photo2.png' %}" alt="человек в спортивной форме удивляется увиденному на экране" />
    <div>
      <h3 class="centered">Находите новые упражнения</h3>
      <p>Наш каталог поможет Вам в поиске новых упражнений, открытии чего-то нового в уже знакомых тренировках</p>
      <a class="button" href="{% url 'catalog' %}">Перейти в каталог упражнений</a>
    </div>
  </div>
  {% comment %} <div class="content">
    <img class="leftside" src="http://placekitten.com/300/200" alt="человек измеряет свое тело" />
    <div>
      <h3 class="centered">Учитывайте свое тело</h3>
      <p>Следите за показателями своего тела, чтобы своевременно корректировать свой образ жизни</p>
      <a class="button" href="{% url 'register' %}">Зарегистрироваться</a>
    </div>
  </div> {% endcomment %}
{% endblock %}
