{% extends 'base.html' %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'main/css/style-catalog.css' %}" />
{% endblock %}

{% block title %}
  Мои упражнения - Spolthy
{% endblock %}

{% block content %}
  {% for message in messages %}
    <p class="centered tag">{{ message }}</p>
  {% endfor %}
  <h1 class="centered title">Мои упражнения</h1>
  <form class="search" action="{% url 'my_exercises' %}" method="get">
    <div class="search-field">
      <input type="text" name="search" placeholder="Поиск по названию упражнения" />
      <button type="submit">Поиск</button>
    </div>
    <div class="search-tags">
      {% for category in categories %}
        <div class="tag">
          <input type="radio" name="category" id="{{ category.0 }}" value="{{ category.0 }}" />
          <label for="{{ category.0 }}">{{ category.1 }}</label>
        </div>
      {% endfor %}
    </div>
  </form>
  {% for user_exercise in user_exercises %}
    <div class="content item">
      <div class="media">
        <img src="{{ user_exercise.exercise.media.url }}" />
      </div>
      <div class="exercise">
        <a href="{% url 'exercise' user_exercise.exercise.id %}"><h2>{{ user_exercise.exercise.name|capfirst }}</h2></a>
        <div class="category">
          <div>{{ user_exercise.exercise.get_category_display }}</div>
        </div>
        {% if user_exercise.weight %}
        <div>Вес: {{user_exercise.weight}}кг</div>
        {% endif %}
        {% if user_exercise.distance %}
        <div>Дистанция: {{user_exercise.distance}}км</div>
        {% endif %}
        {% if user_exercise.amount %}
        <div>Повторения: {{user_exercise.amount}} раз</div>
        {% endif %}
        {% if user_exercise.time %}
        <div>Время: {{user_exercise.time}}</div>
        {% endif %}
        <a class="button" href="{% url 'edit_user_exercise' user_exercise.id %}">Изменить показатели</a>
        <form method="post">
          {% csrf_token %}
          <input type="hidden" name='user_exercise_id' value={{user_exercise.id}}>
          <button class="button" style="background: red;" type="submit">Удалить с аккаунта</button>
        </form>
      </div>
    </div>
  {% endfor %}
  {% if not user_exercises %}
    <p>По Вашему запросу упражнения не найдены либо список Ваших упражнений пуст</p>
  {% endif %}
{% endblock %}
